.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid #dddddd;
  font-size: 12px;
  text-align: center;
  padding: 5px;
}

.footer a {
  color: #000000;
  font-weight: bold;
}
