.reminder {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: lightblue;
    padding: 10px;
    border-radius: 5px;
}

.blur .reminder {
    display: block;
}


.wrapper.blur {
    filter: blur(5px); /* Adjust the blur radius as desired */
}

#volume-slider input[type="range"] {
  width: 150px;
}
