/* 
  Based from this article from Divya Manian - 
  http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html
*/
@import url(https://fonts.googleapis.com/css?family=Rubik:400,400italic,700,700italic);

* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: white;
}

*,
:before,
:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
    color: #fff;
    background-color: #000;
}


#bgvid{
        position: fixed;
        top:50%;
        left:50%;
        min-width:100%;
        min-height:100%;
        width:auto;
        height:auto;
        z-index: -100;
        -webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background-size: cover;
}

.wrapper {

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .5s;
    margin: auto;
    visibility: hidden;
    text-align: center;

}
.btn-container{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    }

#overlay-start{
    font-size: 150%;
   
}
#overlay-start:hover{
    text-decoration: underline;
}

.transbox {
background-color: rgba(5,4,2,0.5);
position: absolute;
height: 200px;
width: 400px;
margin: auto;
top: 0; left: 0; bottom: 0; right: 0;
}

.centered {
 margin: 0;
 padding: 0;
 position: relative;
 top: 50%;
 transform: translateY(-50%);
}

.title {
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.post {
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
}

/*.title:after {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 240px;
    height: 4px;
    margin-left: -120px;
    content: '';
    background-color: #fff;
}*/

a:link,a:visited,a:hover,a:active {
color: #fff;
}

/* Clip text element */
.clip-text {
    font-size: 12em;
    font-weight: bold;
    line-height: 1;
    position: relative;
    display: inline-block;
    margin: .25em;
    padding: .5em .75em;
    text-align: center;
    /* Color fallback */
    color: #fff;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

.clip-text:before,
.clip-text:after {
    position: absolute;
    content: '';
}

/* Background */
.clip-text:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
}

/* Text Background (black zone) */
.clip-text:after {
    position: absolute;
    z-index: -1;
    top: .125em;
    right: .125em;
    bottom: .125em;
    left: .125em;
    background-color: #000;
}

/* Change the background position to display letter when the black zone isn't here */
.clip-text--no-textzone:before {
    background-position: -.25em 0;
}

.clip-text--no-textzone:after {
    content: none;
}

/* Use Background-size cover for photo background and no-repeat background */
.clip-text--cover,
.clip-text--cover:before {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
}
